.about {
  @include vp-767 {
    min-width: 320px;
  }
}

.about__wrapper {
  position: relative;
  min-height: 320px;
  padding: 40px 30px 120px 280px;

  &::before {
    position: absolute;
    top: 40px;
    left: 30px;
    content: "";
    width: 150px;
    height: 320px;
    background-image: url("../img/decor/about-year.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    // класс js-webp-exception - это служебный класс для определения поддержки формата webp
    // он не используются для стилизации этого блока, нужен для оптимизации фонового изображения
    .js-webp-exception & {
      background-image: url("../img/decor/about-year.png");
    }

    @include retina {
      background-image: url("../img/decor/about-year@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/decor/about-year@2x.png");
      }
    }
  }

  @include vp-1023 {
    min-height: 380px;
    padding: 36px 50px 80px 225px;

    &::before {
      left: 46px;
    }
  }

  @include vp-767 {
    min-height: 300px;
    padding: 27px 25px 82px;

    &::before {
      content: initial;
    }
  }
}

.about__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: $ff-secondary;
  font-style: normal;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 400;
  color: $color-black-pearl;

  @include vp-1023 {
    margin-bottom: 12px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 1.4;
  }
}

.about__content {
  margin-bottom: 19px;
  overflow: hidden;

  @include vp-1023 {
    margin-bottom: -6px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.about__content p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.38;
  color: $color-black-pearl;

  @include vp-767 {
    font-size: 14px;
    line-height: 1.34;
  }
}

.about__button {
  min-width: 180px;
  padding: 14px 12px 13px;

  @include vp-767 {
    min-width: 160px;
    padding: 8px 15px 9px;
  }
}
