.contact-group {
  @include vp-767 {
    border-bottom: 1px solid rgba($color-alice-blue-ff, 0.7);
  }
}

.contact-group__header {
  @include vp-767 {
    position: relative;
    min-height: 58px;
    padding: 22px 25px 20px;
    padding-right: 60px;
  }
}

.contact-group__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0 5px;
  font-family: $ff-secondary;
  font-style: normal;
  font-size: 15px;
  line-height: 1.06;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-1023 {
    padding: 0 2px;
  }

  @include vp-767 {
    margin: 0;
    padding: 0;
  }
}

.contact-group__toggle {
  display: none;

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 8px;
    display: flex;
    width: 52px;
    height: 52px;
    padding: 5px;
    background-color: $color-transparent;
    border: 0;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-silver;
      transform: translate(-50%, -50%);
    }

    &--opened {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 15px;
        height: 1px;
        background-color: $color-silver;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
}

.contact-group__content {
  @include vp-767 {
    padding: 0 25px 14px;
  }
}

.contact-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-group__item:not(:last-child) {
  margin-bottom: 4px;

  @include vp-767 {
    margin-bottom: 9px;
  }
}

.contact-group__link {
  padding: 4px 5px;
  font-size: 16px;
  line-height: 1.35;
  color: rgba($color-default-white, 0.7);

  &--address {
    font-style: normal;
  }

  &--phone {
    font-size: 16px;
    line-height: 1.56;
  }

  &:hover:not(.contact-group__link--address) {
    color: $color-deep-sky-blue;
  }

  &:focus {
    outline: auto;
  }

  &:focus-visible:not(.contact-group__link--address) {
    color: $color-deep-sky-blue;
    outline: 1px solid $color-deep-sky-blue;
  }

  &:active:not(.contact-group__link--address) {
    color: $color-alice-blue-ff;
    outline: none;
  }

  @include vp-1023 {
    padding: 4px 2px;
  }

  @include vp-767 {
    padding: 4px 0;
    font-size: 14px;
    line-height: 1.35;

    &--address {
      padding: 0;
      margin-bottom: 16px;
    }
  }
}
