.footer {
  background-color: $color-black-pearl;

  @include vp-767 {
    min-width: 320px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-areas:
    "ft-logo   ft-navigation ft-contact"
    "ft-social ft-navigation ft-contact";
  grid-template-columns: 1fr 470px 1fr;
  grid-template-rows: 55px 1fr;
  column-gap: 25px;
  row-gap: 30px;
  padding: 50px 30px;

  @include vp-1023 {
    grid-template-areas:
      "ft-logo       ft-social "
      "ft-navigation ft-contact";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 38px;
    padding: 50px 50px 60px;
  }

  @include vp-767 {
    grid-template-areas:
      "ft-logo      "
      "ft-social    "
      "ft-navigation"
      "ft-contact   ";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 0;
    row-gap: 0;
    padding: 34px 0;
  }
}

.footer__logo {
  grid-area: ft-logo;

  @include vp-767 {
    justify-self: center;
    margin-right: 6px;
    margin-bottom: 15px;
    padding: 0 30px;
  }
}

.footer__logo img {
  width: 215px;
  height: 55px;
}

.footer__social {
  grid-area: ft-social;
  align-self: start;
}

.footer__navigation {
  grid-area: ft-navigation;
  margin-top: 8px;

  @include vp-1023 {
    margin-top: 0;
  }
}

.footer__contact {
  grid-area: ft-contact;
  margin-top: 8px;

  @include vp-1023 {
    margin-top: 0;
  }
}
