.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(236px, 1fr));
  grid-template-areas:
    "fr-header   fr-header   "
    "fr-name     fr-telephone"
    "fr-textarea fr-textarea "
    "fr-button   fr-checkbox ";
  column-gap: 30px;
  row-gap: 20px;
  padding: 0 10px;

  &--modal {
    grid-template-columns: 1fr;
    grid-template-areas:
      "fr-header   "
      "fr-name     "
      "fr-telephone"
      "fr-textarea "
      "fr-button   "
      "fr-checkbox ";
    padding: 0;
  }

  @include vp-1023 {
    padding: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "fr-header   "
      "fr-name     "
      "fr-telephone"
      "fr-textarea "
      "fr-button   "
      "fr-checkbox ";
    column-gap: 0;
  }
}

.form__header {
  grid-area: fr-header;
}

.form__title {
  margin: 0;
  margin-bottom: 14px;
  margin-left: -5px;
  font-family: $ff-secondary;
  font-style: normal;
  font-size: 36px;
  line-height: 1.42;
  font-weight: 400;
  color: $color-default-white;

  &--modal {
    margin: 0;
    margin-bottom: 2px;
    font-size: 30px;
    line-height: 1.4;
  }

  @include vp-1023 {
    margin-bottom: 8px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 1.4;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.37;
  color: $color-default-white;

  &--modal {
    margin-bottom: 18px;
  }

  @include vp-1023 {
    margin-bottom: 4px;
    padding: 0;
  }

  @include vp-767 {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.34;
  }
}

.form__control {
  margin: 0;
}

.form__control--name {
  grid-area: fr-name;
}

.form__control--telephone {
  grid-area: fr-telephone;
}

.form__control--textarea {
  grid-area: fr-textarea;
  margin-bottom: 8px;

  @include vp-767 {
    margin-bottom: 4px;
  }
}

.form__control--checkbox {
  grid-area: fr-checkbox;
  margin-top: 11px;

  @include vp-1023 {
    margin-top: 6px;
    margin-left: -10px;
  }

  @include vp-767 {
    margin-top: -2px;
    margin-left: -6px;
  }
}

.form__control--modal {
  margin: 0;
}

.form__control label {
  font-size: 14px;
  line-height: 1.14;
  color: rgba($color-default-white, 0.8);
}

.form__control--input input,
.form__control--textarea textarea {
  width: 100%;
  padding: 14px 15px;
  font-family: $ff-main;
  font-style: normal;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: $color-default-white;
  background: rgba($color-black-pearl, 0.15);
  border: 0;
  border-radius: 3px;

  &:hover:not(:focus):not(:focus-visible) {
    opacity: 0.8;
  }

  &:focus {
    outline: auto;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.8;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.form__control--input input::placeholder,
.form__control--textarea textarea::placeholder {
  font-family: $ff-main;
  font-style: normal;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  color: $color-default-white;
}

.form__control--textarea textarea {
  min-height: 155px;
  padding: 24px 15px;

  @include vp-1023 {
    padding: 30px 15px;
  }

  @include vp-767 {
    min-height: 180px;
    padding: 24px 15px;
  }
}

.form__control--checkbox label {
  position: relative;
  display: block;
  padding: 5px;
  padding-left: 36px;

  &::before {
    position: absolute;
    top: 50%;
    left: 10px;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    transform: translateY(-60%);
  }
}

.form__control--checkbox input:checked + label {
  &::before {
    background-image: url("../img/decor/arrow-checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
}

.form__control--checkbox:hover {
  opacity: 0.8;
}

.form__control--checkbox:focus-within {
  outline: 1px solid $color-default-white;
}

.form__control--checkbox input:active + label {
  opacity: 0.6;
  outline: none;
}

.form__control--checkbox input:disabled + label {
  opacity: 0.3;
  cursor: default;
}

.form__button {
  grid-area: fr-button;
  align-self: start;
  max-width: 265px;
  padding: 16px 25px 10px;
  font-size: 16px;
  line-height: 1.19;
  border-color: $color-black-pearl;

  &--modal {
    max-width: 100%;
  }

  @include vp-767 {
    min-width: 270px;
    max-width: 50%;

    &--modal {
      min-width: 100%;
    }
  }
}
