.header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-image: $black-to-bottom;

  @include vp-1023 {
    position: absolute;
  }

  @include vp-767 {
    min-width: 320px;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: 215px 1fr auto;
  align-items: start;
  column-gap: 15px;
  padding: 30px 90px 35px 30px;

  @include vp-1023 {
    grid-template-columns: 215px 1fr;
    padding: 20px 70px 25px 50px;
  }

  @include vp-767 {
    grid-template-columns: 47px 1fr;
    padding: 10px 35px 15px 20px;
  }
}

.header__logo {
  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:focus {
    outline: auto;
  }

  &[href]:focus-visible {
    outline: none;
    opacity: 0.6;
  }

  &[href]:active {
    outline: none;
    opacity: 0.3;
  }

  @include vp-767 {
    padding: 5px 6px;
  }
}

.header__logo img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__contact {
  min-width: 480px;
  margin: 0 auto;

  @include vp-1023 {
    min-width: 100px;
    margin: 0;
  }
}

.header__button {
  min-width: 160px;
  margin-top: 5px;

  @include vp-1023 {
    display: none;
  }
}
