.navigation-group {
  @include vp-767 {
    border-top: 1px solid rgba($color-alice-blue-ff, 0.7);
    border-bottom: 1px solid rgba($color-alice-blue-ff, 0.7);
  }
}

.navigation-group__header {
  @include vp-767 {
    position: relative;
    min-height: 58px;
    padding: 22px 25px 20px;
    padding-right: 60px;
  }
}

.navigation-group__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: $ff-secondary;
  font-style: normal;
  font-size: 15px;
  line-height: 1.06;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-767 {
    margin: 0;
  }
}

.navigation-group__toggle {
  display: none;

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 8px;
    display: flex;
    width: 52px;
    height: 52px;
    padding: 5px;
    background-color: $color-transparent;
    border: 0;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-silver;
      transform: translate(-50%, -50%);
    }

    &--opened {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 15px;
        height: 1px;
        background-color: $color-silver;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
}

.navigation-group__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, auto));
  column-gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  @include vp-767 {
    padding: 0 25px 20px;
  }
}

.navigation-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-group__link {
  display: block;
  padding: 4px 0;
  font-size: 16px;
  line-height: 1.35;
  color: rgba($color-default-white, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 1.35;
  }
}
