.product {
  position: relative;
  display: block;

  &::after {
    position: absolute;
    right: 1px;
    bottom: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    background-image: url("../img/decor/arrow-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border-radius: 4px 0 0 0;
  }

  @include vp-767 {
    &::after {
      right: 0;
      width: 40px;
      height: 40px;
    }
  }
}

.product:hover .product__background::before,
.product:focus-visible .product__background::before {
  content: initial;
}

.product:focus {
  outline: auto;
}

.product:focus-visible {
  outline: 1px solid $color-deep-sky-blue;
  outline-offset: 2px;
}

.product:active {
  opacity: 0.7;
  outline: none;
}

.product__title {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 46px 40px 68px;
  font-family: $ff-secondary;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: $color-default-white;

  @include vp-1023 {
    padding: 36px 46px 60px;
  }

  @include vp-767 {
    padding: 26px 30px 40px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.product__title-br {
  &--tablet {
    display: none;
  }

  @include vp-1023 {
    display: none;

    &--tablet {
      display: inline;
    }
  }
}

.product__background {
  position: relative;
  max-width: 350px;
  max-height: 650px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../img/decor/product-mask.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include vp-1023 {
    max-width: 923px;
    max-height: 250px;
  }
}

.product__image {
  width: 1494px;
  max-width: initial;
  height: 818px;
}

.product--first .product__image {
  margin: -116px 0 0 -189px;

  @include vp-1023 {
    margin: -549px 0 0 -244px;
  }

  @include vp-767 {
    margin: -299px 0 0 -375px;
  }
}

.product--second .product__image {
  margin: -121px 0 0 -534px;

  @include vp-1023 {
    margin: -314px 0 0 -628px;
  }

  @include vp-767 {
    margin: -537px 0 0 -365px;
  }
}

.product--third .product__image {
  margin: -110px 0 0 -894px;

  @include vp-1023 {
    margin: -359px 0 0 -148px;
  }

  @include vp-767 {
    margin: -394px 0 0 -884px;
  }
}
